.title{
  margin-top:0;
  width:100%;
  position:fixed;
  top:0;
  z-index:10;
  color:white;
  background-color;
  background-image: none;
  }
.lambda{font-size: 1.6em;}
.centered{
  text-align:center;
  }

.content{
  margin-top:11em;
  }

.links {
  float:right;
  font-size:0.45em;
  margin:0;
  background-color:transparent;
  border:none;
  box-shadow: none;
}
.links li{
  background-color:transparent;
  display:inline;
  border:none;
  margin:0;
  padding:0.5em;
}
.category {
  margin-left:0em;
  padding-left:0.3em;
  color:#aaa;
  font-style:oblique;
  font-size:2em
}